<div class="wrapper">
  <div class="background"></div>
  <div class="profile-wrapper">
    <bip-profile-picture [src]="user.profilePictureUrl"></bip-profile-picture>
    <span class="username">{{ user.completeName }}</span>
    <button class="bip-button navigation outline" id="login" (click)="showLoginModal()">{{ 'menu.connection' | translate }}</button>
    <!-- TODO: put this code back into place when user accounts are available and temporary registrations are removed
    <div class="action-buttons">
      <button ion-fab color="light" (click)="activate('userPage')">
        <bip-icon name="user"></bip-icon>
      </button>
      <button ion-fab color="light" (click)="activate('messagePage')">
        <bip-icon name="comments"></bip-icon>
      </button>
      <button ion-fab color="light" (click)="activate('notificationsPage')">
        <bip-icon name="bell"></bip-icon>
      </button>
      <button ion-fab color="light" (click)="activate('calendarPage')">
        <bip-icon name="calendar-check"></bip-icon>
      </button>
    </div> -->
  </div>
</div>
