<ion-header mode="md">
  <ion-navbar color="light">
    <button ion-button menuToggle color="boreal">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'pages.map.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="wrapper" ion-fixed>
    <button class="bip-button" id="go-to-list" (click)="goToActionsList()">{{ 'pages.map.goToListButton' | translate }}</button>
  </div>

  <div id="map" leaflet [leafletOptions]="mapOptions" [leafletLayers]="layers" (leafletMapReady)="onMapReady($event)"></div>

  <ion-fab right bottom id="map-locate-user">
    <button ion-fab color="light" (click)="centerOnMe()">
      <bip-icon *ngIf="!geolocationInProgress" name="location" color="secondary"></bip-icon>
      <ion-spinner name="bubbles" *ngIf="geolocationInProgress"></ion-spinner>
    </button>
  </ion-fab>

  <p *ngIf="mapMessage" id="map-message">
    {{ mapMessage }}
  </p>

</ion-content>