// Global variables
// ----------------
// SCSS variables that can be used throughout the app

$globalSpacing: 16px;

@mixin smoothShadow() {
  box-shadow: 0 0 6px rgba(0, 0, 0, .16);
}

// Global styles
// -------------
// Styles that could be applied anywhere throughout the app

.bip-button {
  font-size: 1.6rem;
  pointer-events: all;
  padding: 12px ($globalSpacing * 2);
  border-radius: 12px;
  color: bipColor('light');
}

.action-title {
  font-size: 1.8rem;
  font-weight: initial;
}

.theme-title {
  font-size: 1.4rem;
  font-weight: initial;
}

p {
  color: rgba(0, 0, 0, 0.5);
}

// Background color
// ----------------
// Generates classes that applies the $colors to the `background-color` property.

// Main colors
@each $colorName, $hexValue in $colors {
  .#{$colorName}-bg-color {
    background-color: $hexValue;
  }
}

// Secondary colors
@each $colorName, $hexValue in $secondaryColors {
  .#{$colorName}-bg-color {
    background-color: $hexValue;
  }
}

// Foreground color
// ----------------
// Generates classes that applies the $colors to the `color` property.

// Main colors
@each $colorName, $hexValue in $colors {
  .#{$colorName}-color {
    color: $hexValue;
  }
}

// Secondary colors
@each $colorName, $hevValue in $secondaryColors {
  .#{$colorName}-color {
    color: $hevValue;
  }
}