// Shorthand to get a specific color from either the main or secondary color map.
// Raises a SASS warning if the desired $key does not exist in neither.
@function bipColor($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  } @else if map-has-key($secondaryColors, $key) {
    @return map-get($secondaryColors, $key);
  }

  @warn "Unknown '#{$key}' color in $colors and $secondaryColors.";
  @return null;
}

@mixin bipAlert($color) {
  width: 100%;
  background-color: transparentize($color, 0.99);
  border: solid .5px $color;
  border-radius: 8px;
  text-align: left;
  padding: 8px;
  margin-bottom: $globalSpacing;
  color: $color;
  p:first-of-type {
    margin-top: 0;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
  p {
    color: $color;
  }
}
