// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

// Utils
// --------------------------------------------------
@import 'utils';

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// Do not put unecessary colors in this map.
// Several classes will be generated based on those values.
$colors: (
  primary:    #4a8ec8,
  ocean:      #23808b,
  boreal:     #5bb697,
  secondary:  #4eae67,
  warning:    #e78c48,
  danger:     #de5d6e,
  light:      #fff,
  grey:       #999,
  dark:       #222
);

// Do not put unecessary colors in this map.
// Several classes will be generated based on those values.
$secondaryColors: (
  night:      #2c3681,
  sky:        #2b6bb0,
  clear:      #55a7db,
  lagoon:     #4ab9ce,
  river:      #4fb398,
  grass:      #5eb157,
  seabed:     #207f8c,
  wood:       #7e6131
);

$lightGrey:   #f8f8f8;

@mixin bipGradient($angle) {
  background: linear-gradient($angle, #00E3A7, bipColor('seabed')); //
}


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";
@import "bip-theme";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

// Quicksand Book
@font-face {
  font-family: 'quicksand-book';
  src: url($font-path + '/quicksand-bip/quicksand_book-bip.woff2') format('woff2'),
       url($font-path + '/quicksand-bip/quicksand_book-bip.woff') format('woff'),
       url($font-path + '/quicksand-bip/quicksand_book-bip.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Quicksand Light
@font-face {
  font-family: 'quicksand-light';
  src: url($font-path + '/quicksand-bip/quicksand_light-bip.woff2') format('woff2'),
  url($font-path + '/quicksand-bip/quicksand_light-bip.woff') format('woff'),
       url($font-path + '/quicksand-bip/quicksand_light-bip.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
      }
