action-page {
  .title-bar {
    display: flex;
    justify-content: space-between;
    padding-bottom: $globalSpacing;
    border-bottom: 0.5px solid rgba(177, 177, 177, 0.5);
    margin-bottom: $globalSpacing;
    .bip-button {
      // font-size: 1.3rem;
      align-self: flex-start;
      padding-left: $globalSpacing;
      padding-right: $globalSpacing;
      margin: 0;
      margin-left: $globalSpacing;
    }
  }
  h2 {
    margin-bottom: 0;
    color: transparentize(black, 0.5);
    ion-icon[name="arrow-forward"] {
      margin-left: calc(#{$globalSpacing} / 2);
      position: relative;
      top: 0.1em;
    }
  }
  .description {
    p {
      margin-bottom: 0;
    }
  }
  header {
    margin-left: -#{$globalSpacing};
    margin-right: -#{$globalSpacing};
    margin-bottom: $globalSpacing;
    padding-bottom: $globalSpacing;
    padding-left: $globalSpacing;
    padding-right: $globalSpacing;
    box-shadow: 0 0 6px rgba(0, 0, 0, .11);
  }
}