<ion-header mode="md" class="gradient">

  <ion-navbar>
    <ion-buttons start>
      <button ion-button id="dismiss" (click)="dismiss()">
        <bip-icon name="cross" color="light"></bip-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'modals.login.connection' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p class="introduction">{{ 'modals.login.introduction' | translate }}</p>

  <div class="error" *ngIf="authFail">
    <p *ngFor="let error of authFail.errors">{{ error.code | translate }}</p>
  </div>

  <form id="login-form" #loginForm="ngForm" (ngSubmit)="onSubmit()" class="login">
    <!-- Email input -->
    <div class="form-input">
      <label for="login-email">
        <bip-input-state-indicator [input]="email"></bip-input-state-indicator>
        {{ 'modals.login.form.email.label' | translate}}
      </label>
      <input email type="email" name="email" id="login-email" [(ngModel)]="credentials.email"
        required #email="ngModel" placeholder="{{ 'modals.login.form.email.placeholder' | translate }}"
        autocomplete="email">
      <p class="error-message" [hidden]="!(email.invalid && (!email.pristine || email.touched))">
        <span *ngIf="email.errors && !email.errors.required && email.errors.email">
          {{ 'general.invalid' | translate: { NAME: ('modals.login.form.email.label' | translate ) } }}
        </span>
        <span *ngIf="email.errors && email.errors.required">
          {{ 'general.required' | translate: { NAME: ('modals.login.form.email.label' | translate ) } }}
        </span>
      </p>
    </div>

    <!-- Password input -->
    <div class="form-input">
      <label for="login-password">
        <bip-input-state-indicator [input]="password"></bip-input-state-indicator>
        {{ 'modals.login.form.password.label' | translate}}
      </label>
      <input type="password" name="password" id="login-password" [(ngModel)]="credentials.password"
        required #password="ngModel" placeholder="{{ 'modals.login.form.password.placeholder' | translate }}">
      <p class="error-message" [hidden]="!(password.invalid && (!password.pristine || password.touched))">
        {{ 'general.required' | translate: { NAME: ('modals.login.form.password.label' | translate ) } }}
      </p>
    </div>

    <!-- Submission button -->
    <button type="submit" class="bip-button positive-action" [disabled]="!loginForm.form.valid">
      {{ 'modals.login.connection' | translate }}
    </button>
  </form>
  <p>{{ 'modals.login.inscription.text' | translate }} {{ 'modals.login.inscription.action' | translate }}</p>
</ion-content>