bip-action-card {
  display: block;
  margin-bottom: 14px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .05);
  background-color: bipColor('light');
  overflow: auto;
  .wrapper {
    margin: ($globalSpacing / 2) $globalSpacing $globalSpacing $globalSpacing;
    display: flex;
  }
  .picture {
    $dim: 100px;
    $maxDim: 25vw;
    width: $dim;
    height: $dim;
    max-width: $maxDim;
    max-height: $maxDim;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    @include smoothShadow;
    flex: 0 0 auto;
    margin-right: $globalSpacing;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .content {
    // Fix a problem with the content div expanding beyond parent limits.
    min-width: 0;
    width: 100%;
    &>.action-title,
    &>.theme-title {
      margin-top: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .action-title {
    color: bipColor('lagoon');
    padding-bottom: 3px;
    margin-bottom: 0;
  }
  .theme-title {
    color: transparentize(black, 0.5);
    border-bottom: .5px solid rgba(177, 177, 177, 0.5);
    padding-bottom: 6px;
    margin-bottom: 6px;
  }
  .description {
    color: transparentize(black, 0.5);
    overflow: hidden;
    position: relative;
  }
}